<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/axios@latest"></script>
  <title>Indexing <%= username %>...</title>
</head>
<body>
  <p><%= message %></p>
  <script>
    setInterval(async () => {
      location.reload();
    }, 500);
  </script>
</body>
</html>